@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@media  screen and (max-width: 375px) {
    .background {
        background-image: url('./img/imghome.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .title_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Inter', sans-serif;
        padding: 40px 0;
    }

    .logo {
        font-size: 24px;
        font-weight: 600;
        font-style: italic;
        margin-bottom: 20px;
    }

    .logo-home {
        color: white !important;
    }

    .title_container {
        color: #0A9DFF;
        font-size: 24px;
        text-align: center;
    }

    .fixe_button {
            border: none;
            display: block; 
            width: 327px;
            height: 48px;
            margin: auto;
            position: fixed;
            bottom: 50px;
            left: calc(50% - 163px);
            font-family: 'Inter', sans-serif;
            border-radius: 50px;
            font-weight: 600;
    }

    .home_button {
        background-color: #fff; 
        color: #3BCE3B;
        transition: 0.3s;
    }
    .home_button:hover {
        background-color: #3bce3b;
        color: #fff;
        transition: 0.3s;
    }


    /* page 1 */

    .title-page1 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        padding: 40px 0 0 20px;
    }



    .list-page1 {
        padding: 50px 0 0 20px;
        list-style: none;
    }

    .list-page1 li {
        padding-bottom: 45px;
    }

    .list-page1 li a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 16px;
        padding: 20px 30px;
        transition: 0.3s; 
    }

    .list-page1 li a:hover {
        background: #D6EFFF;
        border-radius: 50px;
        color: #0A9DFF;
        transition: 0.3s;
    }





    
}



